[user]
	email = bragur@gmail.com
	name = Bragi Bergthorsson

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[merge]
	conflictStyle = zdiff3

[rerere]
	enabled = true

[diff]
	algorithm = histogram

[core]
	editor = nvim