# REACT NATIVE ALIASES
alias rni="react-native run-ios"
alias rna="react-native run-android"

# LIST ALIAS
alias ls="ls --color -h --group-directories-first"
alias ll="ls -la"

# GIT SCRIPT ALIASES
alias git_current_branch="git-current-branch"

# NVIM
alias vim="nvim"
