# REACT NATIVE ALIASES
alias rni="npx react-native run-ios"
alias rna="npx react-native run-android"

# LIST ALIAS
alias ls="ls --color -h --group-directories-first"
alias ll="ls -la"

# GIT SCRIPT ALIASES
alias git_current_branch="git-current-branch"

# NVIM
alias vi="nvim +:Startify"
alias vim="nvim +:Startify"
